
 .container{
  height: 100vh;
  background-image:  url(room.jpg); 
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
}
.navbar{
  width: 85%;
  margin: auto;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li{
  display: inline-block;
  margin: 0 20px;
  
}
.navbar ul li a{
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 20px;
  color: white;
  list-style: none;
  text-transform: uppercase;
  
}
h2{
  font-size: 40px;
  color:rgb(9, 175, 175);
  text-shadow: 1px 1px 5px  rgb(9, 175, 175);
}
.txt{
  margin-left: 400px;
  margin-top: 150px;
  color: white;
 
}
.txt h1{
  font-weight: 300;
}
button{
  border-radius: 10px;;
  height: 38px;
  width: 150px;
  margin-top: 15px;
  border: 1px solid;
  background: none
}
.btn{
  background-color: rgb(9, 175, 175);
  margin: 10px;
  border: none;
}
button:hover{
  background-color: rgb(9, 175, 175);
}
a:hover{
  border: none;
  border-radius: 5px;
  background-color: rgb(9, 175, 175);
  height: 10px;
}
p{
  text-transform: uppercase;

}

  
